# Distribution / packaging
dist/*.tar.gz
instance/*.db
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
__pycache__/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv/Lib/site-packages

# logs
*.log

env.list
pro.ps1
# Ignore dynaconf secret files
secrets.*
*.code-workspace
