# A MANIFEST.in file consists of commands, one per line, instructing setuptools to add or remove some set of files from the sdist. The commands are:
# 
# include pat1 pat2 ...
# Add all files matching any of the listed patterns (Files must be given as paths relative to the root of the project)
# 
# exclude pat1 pat2 ...
# Remove all files matching any of the listed patterns (Files must be given as paths relative to the root of the project)
# 
# recursive-include dir-pattern pat1 pat2 ...
# Add all files under directories matching dir-pattern that match any of the listed patterns
# 
# recursive-exclude dir-pattern pat1 pat2 ...
# Remove all files under directories matching dir-pattern that match any of the listed patterns
# 
# global-include pat1 pat2 ...
# Add all files anywhere in the source tree matching any of the listed patterns
# 
# global-exclude pat1 pat2 ...
# Remove all files anywhere in the source tree matching any of the listed patterns
# 
# graft dir-pattern
# Add all files under directories matching dir-pattern
# 
# prune dir-pattern
# Remove all files under directories matching dir-pattern
# 

global-exclude *.pyc,*.log,*.txt
include getmax/*.py getmax/mail_template.html
include tests/*.py tests/pytest.ini tests/config.json
include readme.md pro.ps1 env.list .gitignore
# prune tests/__pycache__ tests/.pytest_cache
# prune venv *.egg-info